.navWide {
  text-align: center;
  overflow: auto;
  background-color: #2F9AFF;
  color: yellow

}

body {
  margin: 10px;
  padding: 10px #862AFF;
  font-family: sans-serif;
  background-color: #2F9AFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
   
  }

  .PageHeader {
    text-align: center;
    
    /* background-color: #2F9AFF;  */
    /* color: yellow; */
    overflow: auto;
  }

  
  .pageStyle {
    width: 100%;
    overflow:auto;
    position: relative;  
    text-align: left;
  
    box-sizing: border-box;
  
    padding: 10px;
  
    margin-bottom: 30px;

    cursor: pointer;
    background-color: white; 
    color: black;
}
  
.pageStyle2 {
  width: 100%;
  overflow:auto;

  position: relative;
  float: left;
  text-align: left;

  box-sizing: border-box;

  padding: 10px;

  margin-bottom: 30px;

  cursor: pointer;
  background-color: white; 
  color: black;
}

.pageStyle3 {
  width: 100%;
  overflow:auto;

  position: relative;
  float: right;
  text-align: left;

  box-sizing: border-box;

  padding: 10px;

  margin-bottom: 30px;

  cursor: pointer;
  background-color: white; 
  color: black;
}

.list-unstyled {

  display: flex;

  flex-wrap: wrap;

  width: 100%;

  min-height: 600px;

}



.list-unstyled .list {

  width: 50%;

  position: relative;

  text-align: center;

  box-sizing: border-box;

  padding: 10px;

  margin-bottom: 30px;

  border: 1px solid transparent;

  cursor: pointer;

}

.list-unstyled .results{

  width: 50%;

  position: relative;

  text-align: center;

  box-sizing: border-box;

  padding: 10px;

  margin-bottom: 30px;

  border: 1px solid transparent;

  cursor: pointer;
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 1
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }
  
}



.details .card-columns .card{
  margin: 0 auto;
  float: none;
}